:root.theme-light {
  --main-background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --rec-color: #FF0070;
  --font-size: 18px;
  --title-color-of-section: #353430;
  --mini-title-color-of-section: #353430;
  --background-image: url("../images/cover-image-light.png");
  --padding: 10px;
  --menu-hover-color: rgb(50 49 45/0.4);
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --rec-color: #FF0070;
  --font-size: 18px;
  --section_title_text_color: #353430;
  --background-image: url("../images/cover-image-light.png");
  --padding: 10px;
  --menu-hover-color: rgb(255 0 112/0.4);
  }


  .rec {
    display: none;
  }
} 