.page {
  font-family: 'IBM Plex Mono';
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-size: var(--font-size);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-inline-size: 375px;
  /*display: flex;
  flex-direction: column;*/
}

.header {
  position: relative;
  min-height: 668px;
  
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
}


.rec {
  position: absolute;
  top: 10px;
  right: 19px;
}

.rec::before {
  content: "REC";
  color: var(--rec-color);
  line-height: 25px;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
  box-shadow: 0 0 4px 2px #ff0070;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.header__theme-menu-button {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color, rgb(255 0 112/0.4));
}

.header__theme-menu-button:focus {
  outline: none
}

.header__theme-menu-item .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}


.header_title {
  margin: 0;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_subtitle {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--section_title_text_color);
  align-self: center;
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
  /*width: fit-content;
  height: fit-content;*/
}

/*уголки*/
.decorated-zone {
  position: relative; 
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  width: 25px;
  height: 25px;
  
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.main {
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_of_section {
  font-size: inherit;
  color: var(--accent-color)
}

.title_of_mini_section {
  margin: 0;
  color: var(--section_title_text_color);
  font-size: inherit;
  line-height: 1.2;
}

.section_p {
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color, #F1B2CE);
}

.section_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-decor-color, #ff0070);
}

.section__article-text-link:focus {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.section__article-text-link:hover {
  border-block-end: 1px solid var(--text-color, #F1B2CE);
}

.regular-mini-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.footer {
  display: grid;
  min-height: 668px;
  justify-content: center;
  align-items: center;
}

.footer_title {
  line-height: 83%;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}